/* Main SCSS Document */
/* Variables Scss Document */
/* Color Palette */
/* Layout */
/* Base Scss Document */
/*Divider line for separating sections*/
/*
.divider {
    border-top: 1px solid #ddd;
    width: 85%;
    margin: 80px auto 100px;
}
*/
/*Create breaking whitespace for content*/
/*.clear {
    display: block;
    width: 100%;
    height: 0;
    clear: both;
    font-size: 0;
    line-height: 0;
}*/
body {
  color: whitesmoke;
  background-color: black; }

p {
  width: 80%; }

a {
  color: whitesmoke;
  text-decoration: none; }

.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto; }

/* Header Scss Document */
.nav-1:hover,
.nav-2:hover,
.nav-3:hover,
.nav-4:hover {
  border-color: dodgerblue; }

.nav-1,
.nav-2,
.nav-3,
.nav-4 {
  border-style: outset;
  border-color: limegreen;
  border-radius: 15px;
  width: 120px;
  margin: 8px auto;
  text-align: center; }

.container-nav {
  margin: 50% auto; }

/* Footer Scss Document */
footer {
  text-align: center;
  color: darkgrey;
  margin: 10px auto;
  width: auto; }

.container-footer {
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 0px; }
  .container-footer span {
    padding: 5px 7px; }

/* Images Scss Document */
.examples {
  display: flex;
  flex-direction: column; }
  .examples div {
    width: 300px;
    margin: 10px auto; }
    .examples div img {
      max-height: 100%;
      max-width: 100%; }

/* Media Queries Scss Document */
/*Tablet Portrait-Mode*/
/*Tablet Landscape-Mode*/
@media (min-width: 900px) {
  img {
    float: left;
    padding-right: 5%; } }

/*Desktop*/
/*Big Desktop*/
