/* Footer Scss Document */

footer .footer {
  text-align: center;
  color: #8f9296;
}

footer h3 {
  color: mediumblue;
  font: normal 36px 'Cookie', cursive;
  margin: 0; }

footer .footer-links {
  color: #95A4A9;
  margin: 6px auto;
  padding: 0; }

footer .footer-links a {
  display: inline-block;
  text-decoration: none;
  color: dodgerblue;
font-size: 20px;
	padding: 0px 2px;
}

footer .footer-company-name {
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto 10px auto;
}