/* Footer Scss Document */

footer .footer-left{
    text-align: center;
}

footer h3{
    color:  mediumblue;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

footer .footer-links{
    color: #95A4A9;
    margin: 22px 0 14px;
    padding: 0;
}

footer .footer-links a{
    display: inline-block;
    text-decoration: none;
    color: #50B575;
}

footer .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}