/* Header Scss Document */

.main-nav ul{
	text-align: center;
}
.main-nav li{
	display: inline-block;
	font-size: 40px;
	margin: 20px 10px
}
.main-nav a{
	text-decoration: none;
	color: floralwhite;
}

.parallax-image .skrollable-between {
	display: block;
}
.parallax-image-wrapper {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
	height: 80vh;
	top: -80vh;
}
.parallax-image {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	top: 0;
}
.parallax-image.skrollable-between {
	display: block;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}