/* Scss Document */

/* Color Palette */
$blue: #058ED9;
$blue2: dodgerblue;
$black:	black;
$purple: #541388;
$smoke: #7D7E75;
$green: limegreen;
$gunmetal: #292F36;
$white: whitesmoke;

/* Layout */
$centered: 0px auto;