@charset "utf-8";
/* CSS Document */

/* KEYFRAMES */
@keyframes bouncyhouse{
	from{ transform: translateY(0)}
	to{ transform: translateY(20px)}
}
/* ELEMENTS TO ANIMATE */
.funhouse{
	animation-name: bouncyhouse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.center{
	margin: auto;
	width: 50%;
}

.hide{
	display: none;
}

img:hover{
	width: 80px;
	height: 80px;
}

body{
	text-align: left;
}

header{
	
}

nav{
	
}

footer{
	padding: 20px;
}

@media (min-width: 360px){
}
